extends ../_layout/_docs-layout.pug

block variables
  - var slug = 'tables'
  - var parent = 'elements'
  - var title = 'Tables - Elements - ridestyler.ui CSS Framework'
  - var description = 'Tables include default styles for tables and data sets. ridestyler.ui CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development.'

block docs-content
  +docs-heading('tables', 'Tables')

    p Tables include default styles for tables and data sets.

    .docs-demo.columns
      .column.col-12
        table.table
          thead
            tr
              th Name
              th Genre
              th Release date
          tbody
            tr
              td The Shawshank Redemption
              td Crime, Drama
              td 14 October 1994
            tr
              td The Godfather
              td Crime, Drama
              td 24 March 1972
            tr
              td Schindler's List
              td Biography, Drama, History
              td 4 February 1994
            tr
              td Se7en
              td Crime, Drama, Mystery
              td 22 September 1995

    p
      | Add the #[code table] class to any #{'<table>'} element. 
      | The class will add padding, border and emphasized table header.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <table class="table">
            <thead>
              <tr>
                <th>name</th>
                <th>genre</th>
                <th>release date</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>The Shawshank Redemption</td>
                <td>Crime, Drama</td>
                <td>14 October 1994</td>
              </tr>
            </tbody>
          </table>
    
    +docs-subheading('tables-striped', 'Striped tables')

    .docs-demo.columns
      .column.col-12
        table.table.table-striped.table-hover
          thead
            tr
              th Name
              th Genre
              th Release date
          tbody
            tr
              td The Shawshank Redemption
              td Crime, Drama
              td 14 October 1994
            tr
              td The Godfather
              td Crime, Drama
              td 24 March 1972
            tr
              td Schindler's List
              td Biography, Drama, History
              td 4 February 1994
            tr.active
              td Se7en
              td Crime, Drama, Mystery
              td 22 September 1995

    p
      | Add the #[code table-striped] class to #{'<table>'} to highlight odd rows.
      | For hoverable table rows, you can add the #[code table-hover] class to enable hover style.
    p
      | Use the #[code active] class to make #{'<tr>'} element highlighted. Use the #[code table-striped-even] to highlight even 
      | rows instead of odd.

    .docs-demo.columns
      .column.col-12
        table.table.table-striped-even.table-hover
          thead
            tr
              th Name
              th Genre
              th Release date
          tbody
            tr
              td The Shawshank Redemption
              td Crime, Drama
              td 14 October 1994
            tr
              td The Godfather
              td Crime, Drama
              td 24 March 1972
            tr
              td Schindler's List
              td Biography, Drama, History
              td 4 February 1994
            tr.active
              td Se7en
              td Crime, Drama, Mystery
              td 22 September 1995

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>name</th>
                <th>genre</th>
                <th>release date</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>The Shawshank Redemption</td>
                <td>Crime, Drama</td>
                <td>14 October 1994</td>
              </tr>
            </tbody>
          </table>
    
    +docs-subheading('tables-secondary-headings', 'Secondary Headings')

    .docs-demo.columns
      .column.col-12
        table.table.table-striped
          thead
            tr
              th(colspan=3) Tire
              th(colspan=4) Wheel
              th Lug
          tbody
            tr
              th(colspan=2) OE Size
              th Serv Desc
              
              th Bolt
              th Diameter
              th Width
              th Hub

              th Thread
            tr
              td F
              td(rowspan=2) 275/55R20
              td(rowspan=2) 111T
              td(rowspan=2) 6 x 135mm
              td 17" - 24"
              td 5" - 8"
              td(rowspan=2) 87.1mm
              td(rowspan=2) 14mm x 1.5 Nut
            tr
              td R
              td 17" - 24"
              td 5" - 8"
    p
      | #{'<th>'} elements inside of a #{'<tbody>'} will get a secondary heading treament.
    pre.code(data-lang="HTML")
      code
        :highlight(lang="html")
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="3">Tire</th>
                <th colspan="4">Wheel</th>
                <th>Lug</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="2">OE Size</th>
                <th>Serv Desc</th>
                <th>Bolt</th>
                <th>Diameter</th>
                <th>Width</th>
                <th>Hub</th>
                <th>Thread</th>
              </tr>
              <tr>
                <td>F</td>
                <td rowspan="2">275/55R20</td>
                <td rowspan="2">111T</td>
                <td rowspan="2">6 x 135mm</td>
                <td>17" - 24"</td>
                <td>5" - 8"</td>
                <td rowspan="2">87.1mm</td>
                <td rowspan="2">14mm x 1.5 Nut</td>
              </tr>
              <tr>
                <td>R</td>
                <td>17" - 24"</td>
                <td>5" - 8"</td>
              </tr>
            </tbody>
          </table>
    
    +docs-subheading('tables-fixed-headers', 'Fixed Headers')

    .docs-demo.columns
      .column.col-12.table-sticky-headers
        table.table.table-striped-even.table-hover
          thead
            tr
              th #
              th Language
              th People Using
          tbody
            tr 
              td 1
              td JavaScript
              td 1 Billion
            tr 
              td 2
              td C#
              td 500 Million
            - for (var i=3; i < 30; i++) {
              tr
                td= i
                td PHP
                td 1
            - }
            tr 
              td= i
              td Fortran
              td -100

    p
      | Wrap your table with a #[code table-sticky-headers] element to have sticky table headers. Adjust the #[code max-height] as needed. 
      | The #[code th] cells in your table's #[code thead] will become fixed when the table's #[code height] becomes bigger then it's #[code max-height].
      | Browsers without #[code position: sticky] support will fallback to non-scrolling tables.

    pre.code(data-lang='HTML')
      code
        :highlight(lang="html")
          <div class="table-sticky-headers">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>name</th>
                  <th>genre</th>
                  <th>release date</th>
                </tr>
              </thead>
              <tbody>
                <tr class="active">
                  <td>The Shawshank Redemption</td>
                  <td>Crime, Drama</td>
                  <td>14 October 1994</td>
                </tr>
              </tbody>
            </table>
          </div>
  
  include ../_layout/_footer.pug